<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Delivery Details</title>
  </head>
  <body>
    <h1>Order Delivery Details</h1>
    <form
      action="#"
      data-th-action="@{/pizza/order}"
      data-th-object="${details}"
      method="post"
    >
      <p>
        Name:
        <input type="text" data-th-field="*{name}" />
        <br />
        <span
          class="error"
          data-th-if="${#fields.hasErrors('name')}"
          data-th-errors="*{name}"
        ></span>
      </p>
      <br />
      <p>
        Address:
        <input type="text" data-th-field="*{address}" />
        <br />
        <span
          class="error"
          data-th-if="${#fields.hasErrors('address')}"
          data-th-errors="*{address}"
        ></span>
      </p>
      <br />
      <p>
        Phone Number:
        <input type="text" data-th-field="*{phone}" />
        <br />
        <span
          class="error"
          data-th-if="${#fields.hasErrors('phone')}"
          data-th-errors="*{phone}"
        ></span>
      </p>
      <br />
      <p>
        <label class="container"
          >Rush
          <input type="checkbox" checked="checked" />
          <span class="checkmark"></span>
        </label>
      </p>
      <br />
      <p>
        Comments:
        <input type="text" data-th-field="*{comments}" />
        <br />
      </p>
      <br />
      <p>
        <button type="button" onclick="cancelOrder()">Cancel Order</button>
        <button type="button" onclick="placeOrder()">Place Order</button>
      </p>
    </form>
  </body>
</html>

<!--  -->
